<div class="row">
  <div class="col-md-12 colsm-12">
    <div class="card-body">
      <div class="form-group">
        <label for="historiaSelect">Selecciona una Historia</label>
       </div>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 colsm-12">

    <div class="card-body">
      <div class="form-group" data-allow-default="true">
        <label for="nombreinput">Expediente</label>
         <!-- Mensaje de aviso -->
        <lib-ngx-rkaeditor [content]="'asdfasas'"></lib-ngx-rkaeditor>
      </div>
    </div>

  </div>
</div>
